<h2>Submitted Receipts</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount ($)</th>
      <th>Description</th>
      <!-- <th>File Name</th> -->
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let receipt of receipts">
      <td>{{ receipt.date | date }}</td>
      <td>{{ receipt.amount }}</td>
      <td>{{ receipt.description }}</td>
      <!-- <td>{{ receipt.filePath }}</td> -->
      <td>
        <a [href]="baseDownloadUrl + receipt.filePath" target="_blank">View</a>
      </td>
    </tr>
  </tbody>
</table>